/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
lib/sql_parser/oracle_reserved_word.rb
lib/sql_parser/oracle_reserved_word.treetop
lib/sql_parser/oracle_condition.rb
lib/sql_parser/oracle_expression.rb
lib/sql_parser/oracle_update.rb
lib/sql_parser/oracle_select.rb
lib/sql_parser/oracle.rb
*.sw?
